<footer class="pt-120">
	<div class="container">
		<div class="footer-top pb-70">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-4">
					<div class="footer-title">
						<img src="assets/ng images/logo.png" alt="" class="f_logo">
						<p>We make registering, hosting, and managing domains for yourself or others easy. Because the internet needs people. Bring to the table win-win survival strategies.</p>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="footer-link">
						<h3>Quick Link</h3>
						<ul>
							<li><a href="#">VPS Hosting</a></li>
							<li><a href="#">Cloud Server</a></li>
							<li><a href="#">Reseller Hosting</a></li>
							<li><a href="#">Data Migrations</a></li>
							<li><a href="#">Didecated Server</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					<div class="company-content">
						<h3>Company</h3>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Lagel</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="newspaper-site">
						<h3>Join Our Newsletters</h3>
						<input type="email" name="email" placeholder="Email Address">
						<div class="btn-send">
							<a href="#">send</a>
						</div>
						<ul class="icon-bottom">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>Copyright@getnajmul-2019</p>
				</div>
				<div class="col-md-6 text-right">
					<ul>
						<li><a href="privecy.html">Privacy</a></li>
                        <li><a href="team-page.html">Team</a></li>
                        <li><a href="index.html">Sitmap</a></li>                   
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="shape"></div>
	<div class="shape_1"></div>
	<div class="shape_3"></div>
	<div class="shape_4"></div>	
</footer>
