<div class="banner-body">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="banner-body-image  wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
                    <img src="assets/images/img-part/loptop-1.png" alt="" class="img_1">
                    <img src="assets/images/img-part/phone-1.png" alt="" class="img_2">
                    <img src="assets/images/img-part/house-1.png" alt="" class="img_3">
                    <img src="assets/images/img-part/cloud-1.png" alt="" class="img_4">
                    <img src="assets/images/img-part/phone-2.png" alt="" class="img_5">
                </div>
            </div>
            <div class="col-md-5">
                <div class="banner-body-content">
                    <h2>#YOUR WEB DEV PARTNER</h2>
                    <p>#UX Design</p>
                    <p>#Full Stack Web Development</p>
                    <p>#Cloud Hosting</p>
                    <p>#SEO</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape"></div>
    <div class="shape_1"></div>
    <div class="shape_3"></div>
    <div class="shape_4"></div>
</div>
